
* {
    box-sizing: border-box;
}
header{
    background-color: whitesmoke;
    padding:20px;
}
header img{
    float: left;
    padding-bottom: 20px;
}
header nav ul li{
    display: inline-block;
    width: auto;
    padding: 20px;
    width:15%;
    /* margin: 20px;
} */
}

header nav ul li a{
    text-decoration:none;
    font-weight:bold;
    color: black;
}


body{
    width: 100%;
}
#first{
    padding: 40px;
    margin: 20px;
    height: 33%;
    width:100%;
    }

#second{
    width:100%;
 padding: 20px;
}
#second img{
float: left;
  width: 20%;
  padding: 20px;
  margin: 20px;
}

#last img{
    width:50%;
    float:left;
    padding: 20px;
    height: 300px;
    margin: 20px;
}
#last p{
    width:20%;
    float: right;
    padding:20px;
    box-sizing: border-box;
    text-align: justify;
    margin-top:40px;
    height: 250px;
    /* display:block; */
    overflow-y: scroll;
    margin-right: 380px;
    
}

footer{
    clear: both;
    padding: 20px;
    background-color: gray;
    margin-top: 20px;
    height: 100px;
}
